body {
    background-color:#dddddd; /* cor de fundo*/
    color:rgba(0, 0, 0, 1) ; /* cor das letras*/
}
div#interface{ /* formatar div#interface*/
   width: 900px;/* a uma largura de 800px*/
   background-color: #ffffff; /* cor fundo interface*/
   margin: -20px auto 0px auto; /* formatação autoamatica margens esq e dta*/
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);/*criar sombra volta objecto div*/
   padding: 10px 10px 10px 10px;
}

p {   /* formatação de todos os paragrafos*/
text-align: justify;  /*texto justificado direita e esquerda*/
   text-indent: 50px; /*inicio de cada paragrafo 50 px á direita*/
}
 
header#cabecalho img {
   position: absolute;
   left: 780px;
   top: 40px;

}

/*Daqui para baixo, formatação de imagens com legenda*/

figure.foto-legenda criei uma classe foto-legenda dentro TAG figure na pagina principal do codigo HTML
{
     position:relative; /* objecto container(FIGURE)posição relativa ao lugar em que aparece no codigo HTML*/
     border: 8px solid white; /* criar uma borda branca, dentro da imagem*/
     box-shadow:1px 1px 4px black; /* criar sombra preta na borda imagem*/
     /*display: inline-block;*/
 }
figure.foto-legenda img /* criar um estilo imagem*/
 {
    width: 600px;       /*A imagem estava maior que largura da borda, com este comando, vai FICAR DENTRO INTERFACE */
    height: 338px;      /* tudo que tiver dentro da imagem, altura da borda,vai aumentar ou diminuir  com a imagem FICANDO DENTRO DA INTERFACE*/
 }
figure.foto-legenda figcaption /*criar um estilo legenda*/
 {
    opacity: 0; /* vai esconder a legenda*/
    /*position:absolute; /* ocupar uma posição absoluta dentro do container que é o figure*/
    top: 0px;
    background-color:rgba(0, 0, 0, 0.4); /* cor fundo legenda com 0.4 de transparencia*/
    color:white; /* cor das letras legenda*/
    width:600px;  /*a transparencia ficar a ocupar toda a imagem- largura*/
    height:338px;/*a transparencia ficar a ocupar toda a imagem- altura*/
    padding: 30px; /* criar um espaço dentro da legenda*/
    box-sizing:border-box; /* vai criar uma box dentro da borda*/
    transition:opacity 2s; /* tempo de transição entre a legenda passar de invisivel a visivel */
 }
figure.foto-legenda:hover figcaption/* quando passar o mouse por cima da imagem(figure.foto-legenda) a legenda (figcaptation) vai ficar visivel*/
 {
 opacity:1; /* vai mostrar a legenda ou tornar visivel a legenda*/
}
 /* FORMATAÇÃO DO MENU*/
 nav#menu{ /* sempre que nav tenhaum id colcamosum #*/
    display: block; /*mostrar o menu como um bloco unico*/
 }

 nav#menu ul{
    list-style:none;
    text-transform:uppercase;
    position: absolute;
    top: -20px;
    left: 300px;
 }
nav#menu li{
   display:inline-block;
   background-color:#dddddd; /* cor cinzenta*/
   padding: 10px;
   margin: 2px;
   transition: background-collor 1s; /* duração do efeito de transição*/
}
nav#menu li :hover{
   background-color: #606060;/*efeito qd passar rato por cima os itens da lista fiacm cinzentos*/
}
nav#menu h1{
   display: none;
}
nav#menu a { /* todo o nav que tenha um id menu e que tenha ancora (a)*/
   color: black; /* a cor das letras passa +para preto*/
   text-decoration: none; /* deixa de ter qualquer efeito, neste caso o sublinhado*/
}
 nav#menu a:hover{ /* todo nav com o id menu que tenha link (a-ancora) e efeito hover passar rato por cima*/
    color: white; /* vou mudar a cor da letra*/
    text-decoration: underline; /* o texto fique sublinhado*/
 }

